POSTGRES_DB=pbx_portal
POSTGRES_USER=pbx_portal
POSTGRES_PASSWORD=pbx_portal
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=
PBX_DB_HOST=
PBX_DB_PORT=3306
PBX_DB_USER=
PBX_DB_PASSWORD=
PBX_DB_NAME=asteriskcdrdb
QUEUE_LOG_PATH=/var/log/asterisk/queue_log
PORT=5000
